/* General Styles */

.submit-btn {
    font-family: "Poppins", serif;
    display: inline-block;
    background-color: #ae3f32;
    background-image: linear-gradient(to bottom, #ae3f32, #c5642e);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #dadada;
    text-decoration: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #893328;
    background-image: linear-gradient(to bottom, #893328, #ae592a);
    border: 1px solid #893328;
    color: #e5e5e5;
}

/* Nav Menu Styles */

header {
    position: relative;
}

/* Hero Styles */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 50px 20px 20px 20px;
    min-height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('images/tartarus-insight-hero-small.webp');
}

.hero div {
    padding: 10px;
    margin-bottom: 26px;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 5%);
}

/* About Styles */

.about {
    padding: 35px;
    text-align: center;
    background-image: url('images/pattern-marble.webp');
}

.about div {
    margin: 0 auto;
    margin-bottom: 20px;
}

/* How It Works Styles */
.how-it-works {
    text-align: center;
}

.papyrus-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.papyrus-content {
    position: relative;
    color: #0e0e0e;
    background-repeat: repeat;
    background-color: #0e0e0e;
    background-image: url('images/papyrus.webp');
    padding: 70px 0px;
}

.papyrus-content h1 {
    color: #4b2e1d;
}

.papyrus-content a {
    color: #794a2e;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.step {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 11px;
    text-align: center;
}

.step .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.step h2 {
    /* font-size: 27px; */
    color: #4b2e1d;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    justify-content: center;
}

.step .icon {
    width: 124px;
    height: 124px;
}

/* Styles for the right papyrus element, which creates a rough right edge of the paper. */
.right-papyrus {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    min-height: 100%;
    z-index: 15;
    background-repeat: repeat-y;
    background-color: transparent;
    background-image: url('images/papyrus-right.png');
}

/* Styles for the left papyrus element, which creates a rough left edge of the paper. */
.left-papyrus {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    min-height: 100%;
    z-index: 15;
    background-repeat: repeat-y;
    background-color: #0e0e0e;
    background-image: url('images/papyrus-left.png');
}

/* Styles for the top papyrus element, which creates a rough top edge of the paper. */
.top-papyrus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 10;
    background-repeat: repeat-x;
    background-color: #0e0e0e;
    background-image: url('images/papyrus-top.png');
}

/* Styles for the bottom papyrus element, which creates a rough bottom edge of the paper. */
.bottom-papyrus {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: transparent;
    z-index: 16;
    background-repeat: repeat-x;
    background-image: url('images/papyrus-bottom.png');
}

/* Examples Styles */

.examples {
    padding: 35px;
    text-align: center;
    background-image: url('images/pattern-marble.webp');
}

.examples-container {
    width: 98%;
    margin: 20px auto;
}

.example {
    position: relative;
    background:  url('images/meandros-pattern-dark.webp');
    background-repeat: repeat;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 35px;
    box-shadow: 0px 0px 11px rgb(255 255 255 / 46%);
    border-radius: 15px;
}

.example-details {
    background-color: rgba(0, 0, 0, 0.078);
    color: #dddddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* FAQ Styles */

.faq {
    text-align: center;
    padding: 35px;
}

.faq-container {
    width: 98%;
    margin: 20px auto;
}

.faq-question {
    position: relative;
    background:  url('images/slate.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    padding-top: 45px;
    margin: 0 auto;
    margin-bottom: 35px;
     
}

.faq-details {
    background-color: rgba(0, 0, 0, 0.1);
    color: #dddddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Styles for the right slate element, which creates a rough right edge of the rock. */
.right-slate {
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    min-height: 100%;
    z-index: 15;
    background-repeat: repeat-y;
    background-color: transparent;
    background-image: url('images/slate-right.png');
}

/* Styles for the left slate element, which creates a rough left edge of the rock. */
.left-slate {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    min-height: 100%;
    z-index: 15;
    background-repeat: repeat-y;
    background-color: transparent;
    background-image: url('images/slate-left.png');
}

/* Styles for the top slate element, which creates a rough top edge of the rock. */
.top-slate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 10;
    background-repeat: repeat-x;
    background-color: transparent;
    background-image: url('images/slate-top.png');
}

/* Styles for the bottom slate element, which creates a rough top edge of the rock. */
.bottom-slate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-color: transparent;
    z-index: 16;
    background-repeat: repeat-x;
    background-image: url('images/slate-bottom.png');
}

/** Responsive design - media queries */
@media (min-width: 450px) { 
    .hero {
        height: calc(100vh - 75px);
    }
}

@media (min-width: 280px) {
    .how-it-works {
        padding: 25px;
    }
}

@media (min-width: 675px) {
    .step {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .how-it-works {
        padding: 50px;
    }
}

@media (min-width: 1024px) { 
    .hero {
        background-image: url('images/tartarus-insight-hero-medium.webp');
    }
}

@media (min-width: 2048px) { 
    .hero {
        background-image: url('images/tartarus-insight-hero-large.webp');
    }   
}